<div class="detail__container">
    <div class="detail__wall" #detailWall>

        <input type="text" placeholder="url de la foto" class="detail__input" [(ngModel)]="urlImage">
        <!--<input type="text" placeholder="nombre de la foto" class="detail__input" [(ngModel)]="urlName">
        <input type="text" placeholder="descripción de la foto" class="detail__input" [(ngModel)]="description">-->
        <button type="submit" class="detail__btn" (click)="sendPicture()">Añade una
            foto</button>

        <img src="{{urlImgToSend}}" alt="" class="detail__img">
    </div>
</div>