@import '/src/styles/colors.scss';

.detail__container {
  display: grid;
  place-content: center;
  margin-top: 150px;
}
.detail__wall {
  width: 450px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail__input {
  width: 200px;
  padding: 10px 2px;
  margin: 5px 0;
}
.detail__btn {
  width: 209px;
  padding: 10px 0;
  margin-top: 5px;
  background-color: $btn-color;
  border: $btn-color;
}
.detail__img {
  margin: 15px 0;
}
