.wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
  margin: 0 auto;

  .catalog__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    .catalog__detail {
      width: 200px;
      height: 230px;
      margin: 10px;
    }
    .catalog__detail-img {
      width: 100%;
      max-width: 200px;
      max-height: 230px;
      border-radius: 5px;
    }
  }
}
