<div class="wrapper">
    <h1>PHOTO WALL</h1>
    <div class="catalog__container">
        <div class="catalog__detail" *ngFor="let image of catalog.gallery">
            <img src="{{image.urlImg}}" alt="{{image.urlName}}" #pictureToSend class="catalog__detail-img"
                (click)="sendPic(pictureToSend.src)">
            <p>{{image.description}}</p>
        </div>
    </div>
</div>

<app-detail [urlImgToSend]="urlImgToSend" (emitPicture)="setImage($event)"></app-detail>